<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personnalisation</title>
    <link rel="stylesheet" href = "static/styleGame.css">
</head>
<body>
    <div class="container">
        <h1 class = "gros-titre">Paramètres du jeu</h1>

        <label for="name_joueur1">Joueur 1 : Entrez votre nom</label>
        <input type="text" id="name_joueur1" name ="name" required minlength="3" maxlength="8" size="13"

        <label for="name_joueur2">Joueur 2 : Entrez votre nom</label>
        <input type="text" id="name_joueur2" name ="name" required minlength="3" maxlength="8" size="13"

        <h3>Quelle difficulté ?</h3>

        <div class="button-group">
            <button class="btn1">Easy 6*7</button>
            <button class="btn">Easy 6*7 - 3 Blocks</button>
            <button class="btn">Easy 6*7 - 5 Blocks</button>
            <button class="btn">Easy 6*7 - 7 Blocks</button>
        </div>
    </div>
</body>
</html>