<!DOCTYPE html>
<html lang="fr">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Power4 - Jeu</title>
<link rel="stylesheet" href="/static/styleJeu.css">
</head>
<body>
<div class="container">
    <h1>Power4 - Connect 4</h1>
    <div class="message">{{.Message}}</div>

    <table class="board">
    {{range $rowIndex, $row := .Board}}  <!-- 6 lignes -->
    <tr class="row">
        {{range $colIndex, $cell := $row}}  <!-- 7 colonnes par ligne -->
        <td class="cell">
        {{if eq $cell 1}}
            <div class="token red"></div>
        {{else if eq $cell 2}}
            <div class="token yellow"></div>
        {{end}}
        </td>
        {{end}}
    </tr>
    {{end}}
    </table>

    {{if not .GameOver}}
    <div class = "button-row">
        <form method="POST" action="/play" class="move-form">
            <button type="submit" name="column" value="0">1</button>
            <button type="submit" name="column" value="1">2</button>
            <button type="submit" name="column" value="2">3</button>
            <button type="submit" name="column" value="3">4</button>
            <button type="submit" name="column" value="4">5</button>
            <button type="submit" name="column" value="5">6</button>
            <button type="submit" name="column" value="6">7</button>
        </form>
    </div>
    {{else}}
    <form method="POST" action="/reset">
        <button type="submit">Nouvelle Partie</button>
    </form>
    {{end}}

    <br>
    <a href="/">Retour Accueil</a>
</div>
</body>
</html>